includes:
    - vendor/nunomaduro/larastan/extension.neon

parameters:
    paths:
        - app
    
    level: 5
    
    excludePaths:
        - tests
    
    ignoreErrors:
        - '#PHPDoc tag @var#'
    
    checkMissingIterableValueType: false