includes:
    - vendor/nunomaduro/larastan/extension.neon

parameters:
    paths:
        - app
        - config
        - database
        - routes
    
    level: 5
    
    ignoreErrors:
        - '#PHPDoc tag @var#'
    
    excludePaths:
        - tests
        - database/migrations
        - database/seeders
    
    checkMissingIterableValueType: false